<mat-card class="card" >
    <mat-card-content>

        <div class="center">
            

          <div>
          <p class="holdup">I love you king ino nkin </p>
            <p>your sworld is back </p> 
            <div class="center" ><br/>
                <img class="img" src="assets/mylove.png">

            </div>
          </div>

          7meelh Ghachid 
    </div>
                 <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-footer>
     
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
