.box {

    position: fixed;
   
  text-align: center;
  
    transform: translateX(-50%);
  
    animation: descendre 20s linear forwards;
  
  }
  
  @keyframes descendre {
  
    0% {
  
      transform: translateY(0);
  
    }
  
    100% {
  
      transform: translateY(100vh);
  
      opacity: 0;
  
    }
  
  }