<div>
   <div >
    <div class="box d-flex justify-content-center">
      <div class="box"><img src="assets/sworld.png" alt="hi" /></div>
    </div>
      <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          
          <div class="shine d-flex justify-content-center center">
            <h1>Dear my Hero <span class="name">Rachid</span> <img  class="img" src="assets/faviconn.png" /> </h1>
            <a [routerLink]="['/holdUp']"><div class="glad"><img  src="assets/gladiator.jpg" alt="Gladiator" /></div></a>
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>

        <mat-card-footer>
          <div class="center glad">
            Oops... You dropped your sword <br/>
            Click it to take it back.<br/>
          </div>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
      
      
      
    <br/>
     
    </div>
  </div>