<mat-card class="card" ngIf="false">
    <mat-card-header>
      <mat-card-title class="center"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
    
        <div class="center">
          <p class="holdup">HOLD UP </p>
            <p>you can get the sworld that easy,</p> 
            <p>How would i Know 
                that you are the real Rachid ?</p> 
            <p> Hum??</p> 
            <br/>
            <br/>
            <div class="center" ><img  src="assets/masque.png"></div><br/>
            <button mat-flat-button (click)="openDialog()" color="warn">Get your Sworld back </button><br/><br/><br/>

    </div>
                 <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-footer>
     
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
